@model Product

<div class="col-lg-4">
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="~/img/img.svg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title"> @Model.ProductName </h5>
			<p class="card-text"> @Model.UnitPrice ₺ - @Model.UnitsInStock adet </p>

			


			<form data-ajax="true" asp-action="Add" asp-controller="Shopping" method="post" data-ajax-success="OnUpdateSepetOzet">

				<a asp-action="Detail" asp-controller="Product" asp-route-id="@Model.ProductId" class="btn btn-primary">İncele</a>


				<input name="ProductId" type="hidden" value="@Model.ProductId" />

				<input type="submit" value="Sepete At" class="btn btn-primary" />

			</form>

		</div>
	</div>
</div>



